.medicalassured-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.medicalassured-medicalassured {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.medicalassured-header11 {
  gap: 40px;
  width: 1440px;
  height: 777px;
  display: flex;
  padding: 120px 0;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, rgba(71, 79, 160, 1) 0%, rgba(25, 28, 58, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-container11 {
  top: 0px;
  left: 0px;
  width: 1433px;
  height: 91px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-navbarstyle2navbarlight1 {
  gap: 324px;
  top: -7px;
  left: 86px;
  width: 1322px;
  height: 141px;
  display: flex;
  padding: 10px 30px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
}
 
.medicalassured-navbartoggler1 {
  top: 39px;
  left: 1298px;
  width: 24px;
  height: 13.714286804199219px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-navbartogglericon1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 13.714286804199219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-collapsenavbarcollapse1 {
  top: 0px;
  left: 361px;
  width: 815px;
  height: 58px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-navbarnav1 {
  gap: 17px;
  top: 16.999996185302734px;
  left: 0px;
  width: 273px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.medicalassured-lisec1 {
  width: 43px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-lisec2 {
  width: 52px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-navbarnav2 {
  gap: 45px;
  top: 17px;
  left: 493px;
  width: 300px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.medicalassured-navitemsec1 {
  width: 41px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-a1 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-navitemsec2 {
  width: 214px;
  height: 52px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-rectangle511 {
  top: 54px;
  left: 625px;
  width: 71px;
  height: 20px;
  position: absolute;
}
 
.medicalassured-text10 {
  top: 54px;
  left: 661px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 22px;
}
 
.medicalassured-rectangle512 {
  top: 54px;
  left: 416px;
  width: 71px;
  height: 20px;
  position: absolute;
}
 
.medicalassured-logoapli-b11 {
  top: 33px;
  left: 0px;
  width: 138px;
  height: 75px;
  position: absolute;
}
 
.medicalassured-rectangle521 {
  top: 54px;
  left: 520px;
  width: 71px;
  height: 20px;
  position: absolute;
}
 
.medicalassured-text11 {
  top: 52px;
  left: 510px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 22px;
}
 
.medicalassured-rectangle531 {
  top: 54px;
  left: 719px;
  width: 101px;
  height: 20px;
  position: absolute;
}
 
.medicalassured-text12 {
  top: 53px;
  left: 764px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 22px;
}
 
.medicalassured-searchbar1 {
  gap: 4px;
  top: 37px;
  left: 893px;
  width: 360px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  background-color: var(--dl-color-m3_sys_light-surfacecontainerhigh);
}
 
.medicalassured-statelayer10 {
  gap: 4px;
  display: flex;
  padding: 4px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
}
 
.medicalassured-leadingicon1 {
  gap: 10px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.medicalassured-container12 {
  gap: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
}
 
.medicalassured-statelayer11 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
}
 
.medicalassured-icon1 {
  width: 24px;
  height: 24px;
}
 
.medicalassured-content1 {
  gap: 10px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
}
 
.medicalassured-text13 {
  color: var(--dl-color-m3_sys_light-onsurfacevariant);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.medicalassured-trailing-elements1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
 
.medicalassured-frame1sttrailingicon1 {
  gap: 10px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.medicalassured-container13 {
  gap: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
}
 
.medicalassured-statelayer12 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
}
 
.medicalassured-icon2 {
  width: 24px;
  height: 24px;
}
 
.medicalassured-containerfluid1 {
  top: 93px;
  left: 0px;
  width: 1440px;
  height: 684px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-row {
  gap: 30px;
  top: 0px;
  left: 0px;
  width: 1439px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
 
.medicalassured-colmd61 {
  gap: 30px;
  width: 573px;
  height: 558px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.medicalassured-h5headertagsec {
  width: 81px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-cta {
  gap: 10px;
  height: 10px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-button-mdsec1 {
  gap: 10px;
  display: flex;
  padding: 15px 40px;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(44, 192, 112, 1) 0%, rgba(21, 90, 52, 1) 100%);
  align-items: center;
  border-radius: 30px;
  flex-direction: column;
  background-color: var(--dl-color-default-successcolor);
}
 
.medicalassured-text14 {
  color: var(--dl-color-default-lightbackgroundcolor);
  height: auto;
  text-align: center;
  line-height: 22px;
}
 
.medicalassured-button-mdsec2 {
  gap: 10px;
  display: flex;
  padding: 15px 40px;
  overflow: hidden;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  flex-direction: column;
}
 
.medicalassured-text15 {
  color: var(--dl-color-default-lightbackgroundcolor);
  height: auto;
  text-align: center;
  line-height: 22px;
}
 
.medicalassured-colmd62 {
  width: 704px;
  height: 682px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-herocover1 {
  top: 0px;
  left: 0px;
  width: 704px;
  height: 682px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-none {
  top: 23.09375px;
  left: 13px;
  width: 685px;
  height: 683.9065551757812px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-doc1 {
  top: -25.09375px;
  left: 0px;
  width: 495px;
  height: 688px;
  position: absolute;
}
 
.medicalassured-frame1 {
  top: 239.90625px;
  left: 274px;
  width: 100px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-frame12-layout11 {
  width: 1440px;
  height: 859px;
  display: flex;
  padding: 0 195px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  background-color: var(--dl-color-default-lightbackgroundcolor);
}
 
.medicalassured-header12 {
  gap: 40px;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 777px;
  display: flex;
  padding: 120px 0;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(180deg, rgba(71, 79, 160, 1) 0%, rgba(25, 28, 58, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-primarycolor);
}
 
.medicalassured-container14 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 91px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: rgba(71, 79, 160, 1);
}
 
.medicalassured-navbarstyle2navbarlight2 {
  gap: 324px;
  top: -7px;
  left: 89px;
  width: 1322px;
  height: 141px;
  display: flex;
  padding: 10px 30px;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(90deg, rgba(71, 79, 160, 1) 0%, rgba(25, 28, 58, 1) 100%);
  align-items: flex-start;
}
 
.medicalassured-navbartoggler2 {
  top: 39px;
  left: 1298px;
  width: 24px;
  height: 13.714286804199219px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-navbartogglericon2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 13.714286804199219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-collapsenavbarcollapse2 {
  top: 0px;
  left: 361px;
  width: 815px;
  height: 58px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-navbarnav3 {
  gap: 17px;
  top: 16.999996185302734px;
  left: 0px;
  width: 273px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.medicalassured-lisec3 {
  width: 43px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-lisec4 {
  width: 52px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-navbarnav4 {
  gap: 45px;
  top: 17px;
  left: 493px;
  width: 300px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.medicalassured-navitemsec3 {
  width: 41px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-a2 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-navitemsec4 {
  width: 214px;
  height: 52px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-rectangle513 {
  top: 54px;
  left: 625px;
  width: 71px;
  height: 20px;
  position: absolute;
}
 
.medicalassured-text16 {
  top: 54px;
  left: 661px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 22px;
}
 
.medicalassured-rectangle514 {
  top: 54px;
  left: 416px;
  width: 71px;
  height: 20px;
  position: absolute;
}
 
.medicalassured-logoapli-b12 {
  top: 27px;
  left: 0px;
  width: 138px;
  height: 75px;
  position: absolute;
}
 
.medicalassured-rectangle522 {
  top: 54px;
  left: 520px;
  width: 71px;
  height: 20px;
  position: absolute;
}
 
.medicalassured-text17 {
  top: 55px;
  left: 411px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 22px;
}
 
.medicalassured-rectangle532 {
  top: 54px;
  left: 719px;
  width: 101px;
  height: 20px;
  position: absolute;
}
 
.medicalassured-text18 {
  top: 53px;
  left: 764px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 22px;
}
 
.medicalassured-searchbar2 {
  gap: 4px;
  top: 37px;
  left: 893px;
  width: 360px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  background-color: var(--dl-color-m3_sys_light-surfacecontainerhigh);
}
 
.medicalassured-statelayer13 {
  gap: 4px;
  display: flex;
  padding: 4px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
}
 
.medicalassured-leadingicon2 {
  gap: 10px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.medicalassured-container15 {
  gap: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
}
 
.medicalassured-statelayer14 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
}
 
.medicalassured-icon3 {
  width: 24px;
  height: 24px;
}
 
.medicalassured-content2 {
  gap: 10px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
}
 
.medicalassured-text19 {
  color: var(--dl-color-m3_sys_light-onsurfacevariant);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.medicalassured-trailing-elements2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
 
.medicalassured-frame1sttrailingicon2 {
  gap: 10px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.medicalassured-container16 {
  gap: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
}
 
.medicalassured-statelayer15 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
}
 
.medicalassured-icon4 {
  width: 24px;
  height: 24px;
}
 
.medicalassured-containerfluid2 {
  top: 93px;
  left: 0px;
  width: 1440px;
  height: 684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.medicalassured-cards1 {
  gap: 48px;
  top: 374px;
  left: 35px;
  width: 1001px;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.medicalassured-card10 {
  gap: 24px;
  width: 282px;
  height: 312px;
  display: flex;
  padding: 24px;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.medicalassured-image7 {
  width: 160px;
  height: 160px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-color: rgba(227, 227, 227, 1);
  background-image: url("public/external/tq_62netbn4nu-e7lj-200h.png");
}
 
.medicalassured-body1 {
  gap: 16px;
  width: 234px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.medicalassured-text20 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.medicalassured-text21 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.medicalassured-text22 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.medicalassured-card11 {
  gap: 24px;
  display: flex;
  padding: 24px;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.medicalassured-image8 {
  width: 160px;
  height: 160px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-color: rgba(227, 227, 227, 1);
  background-image: url("public/external/tq_cwavqy_js6-6mh-200h.png");
}
 
.medicalassured-body2 {
  gap: 16px;
  width: 263.5px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.medicalassured-text26 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.medicalassured-text27 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.medicalassured-text28 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.medicalassured-card12 {
  gap: 24px;
  display: flex;
  padding: 24px;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.medicalassured-image9 {
  width: 160px;
  height: 160px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-color: rgba(227, 227, 227, 1);
  background-image: url("public/external/tq_3robm0ga5b-zw1o-200h.png");
}
 
.medicalassured-body3 {
  gap: 16px;
  width: 263.5px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.medicalassured-text32 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.medicalassured-text33 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.medicalassured-text34 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.medicalassured-card13 {
  gap: 24px;
  top: 396px;
  left: 1060px;
  width: 302px;
  display: flex;
  padding: 24px;
  position: absolute;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.medicalassured-image10 {
  width: 160px;
  height: 160px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-color: rgba(227, 227, 227, 1);
  background-image: url("public/external/tq_2seknkmlgm-pd5c-200h.png");
}
 
.medicalassured-body4 {
  gap: 16px;
  width: 253.66668701171875px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.medicalassured-text38 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.medicalassured-text39 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.medicalassured-text40 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.medicalassured-image17303249928011 {
  top: 420px;
  left: 59px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-radius: 50px;
}
 
.medicalassured-image1 {
  top: 420px;
  left: 389px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-radius: 50px;
}
 
.medicalassured-image2 {
  top: 23px;
  left: 702px;
  width: 599px;
  height: 336px;
  position: absolute;
  border-radius: 15px;
}
 
.medicalassured-imagende-whats-app20241030alas183215229c96681 {
  top: 420px;
  left: 1084px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-radius: 50px;
}
 
.medicalassured-imagende-whats-app20241030alas184121f76e52a71 {
  top: 420px;
  left: 749px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-radius: 50px;
}
 
.medicalassured-line31 {
  top: 100.5px;
  left: 1px;
  width: 1440px;
  height: 1px;
  position: absolute;
}
 
.medicalassured-button1 {
  gap: 8px;
  top: 39px;
  left: 554px;
  width: 192px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(90deg, rgba(45, 192, 113, 1) 0%, rgba(21, 90, 52, 1) 100%);
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
}
 
.medicalassured-statelayer16 {
  gap: 8px;
  display: flex;
  padding: 10px 24px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.medicalassured-text44 {
  color: var(--dl-color-m3_sys_light-onprimary);
  height: auto;
  text-align: center;
  line-height: 22px;
}
 
.medicalassured-frame12-layout12 {
  width: 1440px;
  height: 859px;
  display: flex;
  padding: 0 195px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  background-color: var(--dl-color-default-lightbackgroundcolor);
}
 
.medicalassured-header13 {
  gap: 40px;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 777px;
  display: flex;
  padding: 120px 0;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(180deg, rgba(71, 79, 160, 1) 0%, rgba(25, 28, 58, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-primarycolor);
}
 
.medicalassured-container17 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 91px;
  display: flex;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(90deg, rgba(71, 79, 160, 1) 0%, rgba(25, 28, 58, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
}
 
.medicalassured-navbarstyle2navbarlight3 {
  gap: 324px;
  top: -7px;
  left: 89px;
  width: 1322px;
  height: 141px;
  display: flex;
  padding: 10px 30px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
}
 
.medicalassured-navbartoggler3 {
  top: 39px;
  left: 1298px;
  width: 24px;
  height: 13.714286804199219px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-navbartogglericon3 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 13.714286804199219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-collapsenavbarcollapse3 {
  top: 0px;
  left: 361px;
  width: 815px;
  height: 58px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-navbarnav5 {
  gap: 45px;
  top: 17px;
  left: 493px;
  width: 300px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.medicalassured-navitemsec5 {
  width: 41px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-a3 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-navitemsec6 {
  width: 214px;
  height: 52px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-navbarnav6 {
  gap: 17px;
  top: 53px;
  left: 345px;
  width: 273px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.medicalassured-lisec5 {
  width: 43px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-lisec6 {
  width: 52px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.medicalassured-text45 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: center;
  line-height: 22px;
}
 
.medicalassured-rectangle515 {
  top: 54px;
  left: 625px;
  width: 71px;
  height: 20px;
  position: absolute;
}
 
.medicalassured-rectangle516 {
  top: 54px;
  left: 416px;
  width: 71px;
  height: 20px;
  position: absolute;
}
 
.medicalassured-logoapli-b13 {
  top: 31px;
  left: -14px;
  width: 138px;
  height: 75px;
  position: absolute;
}
 
.medicalassured-rectangle523 {
  top: 54px;
  left: 520px;
  width: 71px;
  height: 20px;
  position: absolute;
}
 
.medicalassured-text46 {
  top: 55px;
  left: 411px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 22px;
}
 
.medicalassured-rectangle533 {
  top: 54px;
  left: 719px;
  width: 101px;
  height: 20px;
  position: absolute;
}
 
.medicalassured-text47 {
  top: 53px;
  left: 764px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 22px;
}
 
.medicalassured-searchbar3 {
  gap: 4px;
  top: 39px;
  left: 893px;
  width: 360px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28px;
  background-color: var(--dl-color-m3_sys_light-surfacecontainerhigh);
}
 
.medicalassured-statelayer17 {
  gap: 4px;
  display: flex;
  padding: 4px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
}
 
.medicalassured-leadingicon3 {
  gap: 10px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.medicalassured-container18 {
  gap: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
}
 
.medicalassured-statelayer18 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
}
 
.medicalassured-icon5 {
  width: 24px;
  height: 24px;
}
 
.medicalassured-content3 {
  gap: 10px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
}
 
.medicalassured-text48 {
  color: var(--dl-color-m3_sys_light-onsurfacevariant);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.medicalassured-trailing-elements3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
 
.medicalassured-frame1sttrailingicon3 {
  gap: 10px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.medicalassured-container19 {
  gap: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
}
 
.medicalassured-statelayer19 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
}
 
.medicalassured-icon6 {
  width: 24px;
  height: 24px;
}
 
.medicalassured-containerfluid3 {
  top: 101px;
  left: 1px;
  width: 1440px;
  height: 684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.medicalassured-cards2 {
  gap: 48px;
  top: 80px;
  left: 44px;
  width: 634px;
  height: 180px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: space-between;
  background-color: rgba(236, 236, 236, 1);
}
 
.medicalassured-image3 {
  top: 16px;
  left: 14px;
  width: 166px;
  height: 152px;
  position: absolute;
  border-radius: 8px;
}
 
.medicalassured-card14 {
  gap: 24px;
  top: 16px;
  left: 193px;
  width: 421px;
  height: 152px;
  display: flex;
  padding: 24px;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.medicalassured-body5 {
  gap: 16px;
  width: 373px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.medicalassured-text49 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.medicalassured-text50 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.medicalassured-text51 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.medicalassured-text-content-heading {
  gap: 8px;
  top: 30px;
  left: 561px;
  width: 318px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.medicalassured-text52 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 120.00000476837158%;
}
 
.medicalassured-cards3 {
  gap: 48px;
  top: 80px;
  left: 720px;
  width: 617px;
  height: 182px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: space-between;
  background-color: rgba(236, 236, 236, 1);
}
 
.medicalassured-card15 {
  gap: 24px;
  top: 12px;
  left: 203px;
  width: 399px;
  height: 162px;
  display: flex;
  padding: 24px;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.medicalassured-body6 {
  gap: 16px;
  width: 351px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.medicalassured-text53 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.medicalassured-text54 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.medicalassured-text55 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.medicalassured-image4 {
  top: 12px;
  left: 14px;
  width: 177px;
  height: 158px;
  position: absolute;
  border-radius: 8px;
}
 
.medicalassured-cards4 {
  gap: 48px;
  top: 287px;
  left: 44px;
  width: 634px;
  height: 172px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: space-between;
  background-color: rgba(236, 236, 236, 1);
}
 
.medicalassured-card16 {
  gap: 24px;
  top: 16px;
  left: 25px;
  width: 417px;
  height: 140px;
  display: flex;
  padding: 24px;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.medicalassured-body7 {
  gap: 16px;
  width: 369px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.medicalassured-text56 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.medicalassured-text57 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.medicalassured-text58 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.medicalassured-image5 {
  top: 17px;
  left: 459px;
  width: 162px;
  height: 137px;
  position: absolute;
  border-radius: 8px;
}
 
.medicalassured-cards5 {
  gap: 48px;
  top: 287px;
  left: 720px;
  width: 617px;
  height: 172px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: space-between;
  background-color: rgba(236, 236, 236, 1);
}
 
.medicalassured-card17 {
  gap: 24px;
  top: 14px;
  left: 17px;
  width: 401px;
  height: 146px;
  display: flex;
  padding: 24px;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.medicalassured-text59 {
  top: 14px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  width: 436px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.medicalassured-text62 {
  top: 61px;
  left: 30px;
  color: rgba(117, 117, 117, 1);
  width: 371px;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.medicalassured-image6 {
  top: 14px;
  left: 434px;
  width: 166px;
  height: 147px;
  position: absolute;
  border-radius: 8px;
}
 
.medicalassured-cards6 {
  gap: 48px;
  top: 479px;
  left: 44px;
  width: 634px;
  height: 172px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: space-between;
  background-color: rgba(236, 236, 236, 1);
}
 
.medicalassured-card18 {
  gap: 24px;
  top: 16px;
  left: 208px;
  width: 409px;
  height: 140px;
  display: flex;
  padding: 24px;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.medicalassured-text63 {
  top: 34px;
  left: 233px;
  color: rgba(0, 0, 0, 1);
  width: 384px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.medicalassured-text64 {
  top: 71px;
  left: 233px;
  color: rgba(117, 117, 117, 1);
  width: 384px;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.medicalassured-dalle20241030231845-adetailedcustomizedmedicaldiagn {
  top: 16px;
  left: 23px;
  width: 166px;
  height: 140px;
  position: absolute;
  border-radius: 8px;
}
 
.medicalassured-cards7 {
  gap: 48px;
  top: 479px;
  left: 720px;
  width: 617px;
  height: 172px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: space-between;
  background-color: rgba(236, 236, 236, 1);
}
 
.medicalassured-card19 {
  gap: 24px;
  top: 16px;
  left: 171px;
  width: 430px;
  height: 140px;
  display: flex;
  padding: 24px;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.medicalassured-text65 {
  top: 16px;
  left: 187px;
  color: rgba(0, 0, 0, 1);
  width: 401px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.medicalassured-text66 {
  top: 71px;
  left: 186px;
  color: rgba(117, 117, 117, 1);
  width: 415px;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.medicalassured-image04b5dc7f378551fec07b3c9856d97ac51 {
  top: 495px;
  left: 737px;
  width: 143px;
  height: 141px;
  position: absolute;
  border-radius: 8px;
}
 
.medicalassured-line32 {
  top: 100.5px;
  left: 1px;
  width: 1440px;
  height: 1px;
  position: absolute;
}
 
.medicalassured-button2 {
  gap: 8px;
  top: 37px;
  left: 720px;
  width: 129px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(90deg, rgba(45, 192, 113, 1) 0%, rgba(21, 90, 52, 1) 100%);
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
}
 
.medicalassured-statelayer20 {
  gap: 8px;
  display: flex;
  padding: 10px 24px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.medicalassured-text67 {
  color: var(--dl-color-m3_sys_light-onprimary);
  height: auto;
  text-align: center;
  line-height: 22px;
}
